
header {
background: #fff;
padding: 5px 0;
box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

header .container-header {
  width: 100%;
  max-width: 100%;
}

@media (min-width: 992px){
  header .container-header {
      max-width: 960px;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
  }
  }
@media (min-width: 1200px){
header .container-header {
    max-width: 1140px;
}
}



.navbar-brand {
padding: 0;
}
.navbar-brand > img, a.navbar-brand {
height: 50px;
}

header nav li a.nav-link {
color: #333333 !important;
margin-right: 0px !important;
margin-left: 50px !important;
padding-right: 0px !important;
padding-left: 0px !important;
border-bottom: 1px solid transparent;
transition: all .2s ease-in-out;
display: inline-block;
}
header nav li a.nav-link:hover {
color: #79a741 !important;
border-bottom: 1px solid #79a741;
}

header nav li a.nav-link i {
margin-right: 5px;
}

header.sticky {
position: fixed;
top: 0;
width: 100%;
z-index: 10;
transition: transform 0.3s;
transform: translateY(0px);
}


/** cookie **/
.cc-banner {  
    left: 0;
    right: 0;
    top: 75px;
    align-items: center;
    padding: 1em 1.8em;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    position: absolute;
    color: rgb(131, 131, 145);
    background-color: rgb(237, 239, 245);
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    z-index: 20;
  }
  
  .cc-banner .cc-message {
    display: block;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    max-width: 100%;
    margin-right: 1em;
  }
  
  .cc-compliance {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -ms-flex-line-pack: justify;
    align-content: space-between;
  }
  
  a.cc-dismiss {
    color: rgb(255, 255, 255);
    background-color: #79a741;
    border-color: transparent;
    display: block;
    padding: .4em .8em;
    font-size: .9em;
    font-weight: 700;
    border-width: 2px;
    border-style: solid;
    text-align: center;
    white-space: nowrap;
  }
  
  a.cc-dismiss:hover {
    background-color: rgb(113, 167, 255);
  }


  #global-header {
    background: url("/img/brickwall-browsing-business-7356s.svg") no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    background-attachment: fixed;
  }
  #global-header:before {
  content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(255,255,255,1));
  }
  #global-header.mini {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  #global-header.tiny {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  #global-header .block {
    color: black;
    margin: 0 auto;
    text-align: center;
  }
  #global-header .block h1 {
    font-weight: 100;
    font-size: 45px;
    letter-spacing: 6px;
    padding: 0;
    margin: 0;
    text-transform: capitalize;
  }
  #global-header .block p {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 3px;
  }
  