{{ define "main" }}
{{ partial "big-page-title.html" . }}

{{ with .Params }}
<section class="section"><div class="container">
  <div class="row">
      <div class="col-md-6 col-sm-12">
          <div class="block" id="contact-box" >
              <h2>{{ .addresstitle }}</h2>
              <ul class="address-block">
                <li>
                  <i class="fas fa-map-marker"></i><a href="#gmap">{{ .boxaddress }}</a>
                </li>
                <li>
                  <i class="fas fa-envelope"></i>{{ .boxemail }}: {{ safeHTML $.Site.Params.email }}
                </li>
                <li>
                  <i class="fas fa-phone"></i>{{ .boxphone }}: {{ safeHTML $.Site.Params.phone }}
                </li>
                <li>
                  <i class="fas fa-fax"></i>{{ .boxfax }}: {{ safeHTML $.Site.Params.fax }}
                </li>
              </ul>
              <br>
              <h2>{{ .socialtitle }}</h2>
              <ul class="social-icons">
              {{ range .boxsocial }}  
                <li>
                  <a href="{{ .url }}"><i class="fab fa-{{ .icon }}"></i> {{ .title }}</a>
                </li>
              {{ end }}
              </ul>
          </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="block">
        <form class="interact-form" action="/contactform" data-netlify="true" name="contact" netlify-honeypot="cigarette-brand" id="contactform">
          <div class="form-group form-special">
            <input type="text" class="form-control" placeholder="Cigarette brand" name="cigarette-brand">
          </div>
          <div class="form-group">
            <input required type="text" class="form-control" placeholder="{{ .formname }}" name="fullname" autofocus>
          </div>
          <div class="form-group">
            <input required type="email" class="form-control" placeholder="{{ .formemail }}" name="email">
          </div>
          <div class="form-group">
            <input required type="text" class="form-control" placeholder="{{ .formsubject }}" name="subject">
          </div>
          <div class="form-group">
            <textarea required class="form-control" rows="3" placeholder="{{ .formmessage }}" name="text"></textarea>
          </div>
          <button class="btn btn-default" type="submit" data-loading="<i class='fas fa-circle-notch fa-spin'></i> {{ i18n "transmitting" }}...">{{ .formbutton }}</button>
        </form>
        </div>
    </div>
  </div>

  <div class="row" id="gmap">
    <div class="col-md-12 google-map">
      <iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ7aOK7nDduEcR098APnyle94&key=AIzaSyBJqEDARzKtjdqMFGje1TapGofxLjVbh0k" allowfullscreen></iframe>
    </div>
  </div>
</div></section>
<style>
  .address-block li {
    margin-bottom: 20px;
  }
  .address-block li i {
    margin-right: 15px;
    font-size: 20px;
    width: 20px;
  }
  .social-icons i {
    color: #2C2C2C;
    margin-right: 15px;
    font-size: 20px;
  }
  #gmap {
    display: none;
  }
  #gmap:target {
    display: initial;
  }
  .google-map #map {
    width: 100%;
    height: 300px;
  }

  #contact-box img {
    width: 100%;
  }
  #contact-box h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #000;
    font-size: 28px;
    padding-bottom: 30px;
  }
  #contact-box p {
    color: #5C5C5C;
    display: block;
  }

  #contactform button[type=submit] {
    width: 100%;
    height: 60px;
  }
</style>
{{ end }}
{{ end }}