{{ define "main" }}
{{ partial "big-page-title.html" . }}

<section class="section"><div class="container"><div class="row"><div class="col-md-12">
    <div id="quoteapp" style="width: 100%">
        <ol class="breadcrumb-arrow" v-cloak>
            <li v-for="item of $options.items" :key="item.tab" :class="{active: cstate==item.tab }">
                <a href="#" v-html="item.text" @click.stop.prevent="clickTab(item.tab)">
                </a>
            </li>
        </ol>
        <determineparts v-if="cstate == 'determineparts'"></determineparts>
        <partdetails v-if="cstate == 'partdetails'"></partdetails>
        <overview v-if="cstate == 'overview'"></overview>

        <div class="float-right" v-cloak>
        <b-button variant="secondary" @click="reset()" :disabled="pstate.count === 0">Reset</b-button>
        <b-button variant="success" @click="goNext()" :disabled="cstate == 'overview'">Weiter</b-button>
        </div>
    </div>
</div></div></div></section>
{{ end }}