{{ define "main" }}
<div class="container">
	<div class="row">
		<div class="col-12">
			<nav aria-label="breadcrumb">{{ partial "breadcrumb.html" . }}</nav>
		</div>
		<div class="offset-md-2 col-md-8">
			{{ with .Params.image }}<img src="{{ . | absURL }}" width="100%" alt="post-image"> {{ end }}
			<h1>{{ .Params.title }}</h1>
			<p class="italic">By <span class="bold">{{ .Params.author }}</span> on <span class="bold">
					{{ .Date.Format .Site.Params.dateFormat }}</span></p>
			<hr />
			{{ .Content | markdownify }}
		</div>
	</div>
</div>
<p class="center-text" style="padding: 30px;">
	<a class="btn btn-main" href="{{ $.Site.BaseURL }}/blog">Back to blog</a>
</p>

{{ partial "call-to-action.html" . }}

{{ end }}