{{ with $.Site.Params.call }}

<section class="call-to-action-bg call-to-action">
  <div class="container">
    <div class="row justify-content-md-center">
        <div class="col-sm-12 col-md-auto pb-3">
          {{- with $.Site.Params.call.btnRequestQuote -}}
          <a class="btn btn-contact" href="{{ .url | relLangURL }}" >{{ .caption }}</a>
          {{- end -}}
        </div>
        <div class="col-sm-12 col-md-auto pb-3">
          {{- with $.Site.Params.call.btnContact -}}
          <a class="btn btn-contact" href="{{ .url | relLangURL }}" >{{ .caption }}</a>
          {{- end -}}
        </div>
        <div class="col-sm-12 col-md-auto pb-3">
          {{- with $.Site.Params.call.btnCallback -}}
          <a href="#" class="btn btn-contact" data-toggle="modal" data-target="#callbackModal" id="callbackModalOpen">{{ .caption }}</a>
          {{- end -}}
        </div>
      </div>
    <div class="row ">
      <ul class="col-md-12">
      <li>
        <i class="fas fa-envelope"></i>{{ safeHTML $.Site.Params.email }}
      </li>
      <li>
        <i class="fas fa-phone"></i>{{ safeHTML $.Site.Params.phone }}
      </li>
      <li>
        <i class="fas fa-fax"></i>{{ safeHTML $.Site.Params.fax }}
      </li>
    </ul>
    </div>
  </div>
</section>
{{- end -}}