<header id="header" class="sticky">
    <div id="cookie-message" role="dialog" aria-live="polite" aria-label="cookieconsent" aria-describedby="cookieconsent:desc" class="cc-banner scalezero" >
      <!--googleoff: all-->
      <span id="cookieconsent:desc" class="cc-message">{{ .Site.Params.cookiemsg }}
        <a aria-label="learn more about cookies" role="button" tabindex="0" class="cc-link" href="{{ .Site.BaseURL | relLangURL }}/privacy#cookies" rel="noopener noreferrer nofollow">{{ .Site.Params.cookielearnmore }}</a>
      </span>
      <div class="cc-compliance">
        <a aria-label="dismiss cookie message" role="button" tabindex="0" class="cc-dismiss" id="cc-dismiss" href="#">{{ .Site.Params.cookieok }}</a>
      </div>
      <!--googleon: all-->
    </div>
    <script src="/js/cookie-message.js" async></script>

<div class="container-header">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="d-flex flex-grow-1">
      <a class="navbar-brand" href="{{ .Site.BaseURL | relLangURL }}">
          <img async src="{{ .Site.BaseURL }}img/mainlogo.svg" alt="{{ .Site.Title }} Logo">
      </a>
      <div class="w-100 text-right">
          <button class="navbar-toggler" type="button" data-toggle="collapse"     data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>    
      </div>
    </div>
      <div class="collapse navbar-collapse flex-grow-1 text-right" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto flex-nowrap">
            {{- range $p :=  .Site.Menus.header -}}
            <li class="nav-item">
                {{ $fixedlang := replaceRE "^/([^/]+)/([^/]+)/|.*" "$1" $p.URL }}
                {{- if eq $fixedlang "" -}}
                  <a class="nav-link text-nowrap" href="{{ $p.URL | relLangURL }}">{{ $p.Name }}</a>
                {{- else -}}
                  {{ $urlpart := replaceRE "^/([^/]+)(.*)|.*" "$2" $p.URL }}
                  <a class="nav-link text-nowrap" href="{{ $urlpart }}">
                    {{- if ne (string $.Lang) $fixedlang -}}
                    <i class="flag-icon flag-icon-{{ $fixedlang }} d-none d-lg-inline-block"></i>
                    {{- end -}}
                  {{ $p.Name }}
                  </a>
                {{- end -}}
              </li>
            {{- end -}}
        {{- if .IsTranslated -}}
            {{- range .Translations -}}
            <li class="nav-item">
                <a class="nav-link text-nowrap" id="selectlanguage" data-fullreload="true" href="{{ .Permalink }}"> <i class="flag-icon flag-icon-{{ .Language.Lang }}"></i>{{- .Language.LanguageName -}}</a>
            </li>
            {{- end -}}
        {{- else -}}
          {{- range .Site.Languages -}}
            {{- if ne $.Site.Language.Lang .Lang -}}
            <li class="nav-item">
              <a class="nav-link text-nowrap" id="selectlanguage"  data-fullreload="true" rel="alternate" href="/{{ .Lang }}" hreflang="{{ .Lang }}" lang="{{ .Lang }}">
                <i class="flag-icon flag-icon-{{ .Lang }} d-none d-lg-inline-block"></i>{{- .Params.LanguageName -}}
              </a>
            </li>
            {{- end -}}
          {{- end -}}
        {{ end }}
        </ul>
      </div>
  </nav>
</div>
</header>
<div class="progress"></div>
<div class="d-none d-print-block text-center"><h1>{{- .Site.Title -}}</h1><h3>{{- .Site.BaseURL -}}</h3></div>
{{ with .Site.Params.call }}
<div class="modal fade" id="callbackModal" tabindex="-1" role="dialog" aria-labelledby="callbackModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ .title }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form class="interact-form" action="/contactform" data-netlify="true" name="contact" netlify-honeypot="cigarette-brand" id="callbackform">
        <div class="modal-body">
              <div class="form-group form-special">
                <input type="text" class="form-control" placeholder="Cigarette brand" name="cigarette-brand">
              </div>
              <div class="form-group">
                  <label class="sr-only" for="callbackname">{{ .formname }}</label>
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text"><i class="fas fa-user"></i></div>
                    </div>
                    <input required type="text" class="form-control" placeholder="{{ .formname }}" name="fullname" id="callbackname">
                  </div>
              </div>
              <div class="form-group">
                  <label class="sr-only" for="callbacktel">{{ .formtel }}</label>
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text"><i class="fas fa-phone"></i></div>
                    </div>
                    <input required type="tel" pattern="[\+]?[0-9]+[0-9\-\s]*[0-9]" minlength="5" maxlength="20" class="form-control" placeholder="{{ .formtel }}" name="tel" id="callbacktel">
                  </div>
              </div>
              <div class="form-group">
                  <label class="sr-only" for="callbacksubject">{{ .formsubject }}</label>
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text"><i class="fas fa-comment"></i></div>
                    </div>
                    <input type="text" class="form-control" placeholder="{{ .formsubject }}" name="subject" id="callbacksubject">
                  </div>
              </div>
              <div class="form-group">
                  <label class="sr-only" for="callbacktime">{{ .formtime }}</label>
                  <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-clock"></i></div>
                      </div>
                      <select required type="text" class="form-control" name="time" id="callbacktime">
                          <option value="today">{{ .formtoday }}</option>
                          <option value="7:00-9:00">7:00-9:00</option>
                          <option value="9:00-11:00">9:00-11:00</option>
                          <option value="11:00-13:00">11:00-13:00</option>
                          <option value="13:00-15:00">13:00-15:00</option>
                          <option value="15:00-17:00">15:00-17:00</option>
                          </select>
                    </div>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ .close }}</button>
          <button type="submit" class="btn btn-primary" data-loading="<i class='fas fa-circle-notch fa-spin'></i> {{ i18n "transmitting" }}...">{{ .schedule }}</button>
        </div>
        </form>
      </div>
    </div>
  </div>
{{- end -}}