<section id="slider">
    <img id="indexbg" class="loadblurred" data-src="/img/brickwall-browsing-business-7356s.svg">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-1">
                <div class="block text-center">
                    {{ with .Site.Params.slider }}
                    <img class="animated fadeInUp mainlogo" src="/img/mainlogo_shadow2.svg">
                    <p class="animated fadeInUp">
                        {{- safeHTML .subtitle -}}
                    </p>
                    <div class="animated fadeInUp descriptions">
                        <div><img src="/img/office.png"><br>{{- safeHTML .p1 -}}</div>
                        <div><img src="/img/automation.png"><br>{{- safeHTML .p2 -}}</div>
                        <div><img src="/img/iot.png"><br>{{- safeHTML .p3 -}}</div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
