<section id="intro">
<div class="container">
    <div class="row">
    <div class="col-md-7 col-sm-12">
        <div class="block">
        <div class="section-title">
            <h2>{{ i18n "aboutustitle" }}</h2>
            <p>{{ i18n "aboutusitalic" }}</p>
        </div>
        </div>
    </div><!-- .col-md-7 close -->
    <div class="col-md-5 col-sm-12">
        <div class="block">
            <p>{{ i18n "aboutusparagraph" }}</p>
        </div>
    </div><!-- .col-md-5 close -->
    </div>
</div>
</section>
