/* var text-decoration */
[v-cloak] {
  display: none;
}

html, body {
  height: 100%;
}
body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
main {
  flex: 1 0 auto;
}
footer { flex-shrink: 0; }

h2 {
  font-size: 30px;
  font-weight: 400;
}
h3 {
  font-size: 28px;
  font-weight: 300;
}
p {
  font-size: 15px;
  line-height: 28px;
}
ul.no {
  padding: 0;
  margin: 0;
  list-style: none;
}
 .italic {
   font-style: italic;
 }

 .bold {
   font-weight: bold;
 }

 .center-text {
   text-align: center;
 }

.post-area {
  padding: 40px;
  width: 100%;
  min-height: 150px;
  background-color: white;
  border-bottom: 1px dotted #ddd;
}

.post-area a:link, .post-area a:visited {
  font-size: 30px;
  color: #333;
}

.post-area a:hover {
  color: #0D0017;
}
a,
a:active,
a:focus,
a:active {
  text-decoration: none !important;
  color: #79a741;
  transition: color .3s ease-in-out;
}

label {
  margin-bottom: 0;
}
#mainContent {
  margin-top: 76px;
}

.section{
  padding: 35px 0;
}

.minisection{
  padding: 100px 0;
}

.section-title {
  margin-bottom: 70px;
}
.section-title h2 {
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 600;
}
.section-title p {
  font-family: 'Volkhov', serif;
  font-style: italic;
  color: #666;
}

.btn-main, .btn-transparent, .btn-small {
    background: #655E7A;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 14px 35px;
    text-transform: uppercase;
    border-radius: 0;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.btn-main:hover, .btn-transparent:hover, .btn-small:hover {
    background: #353240;
    color: #fff;
}

.scalezero {
  transform: scaleY(0);
  transition: transform 0.8s ease;
}

.scaleenable {  
  transform: scaleY(1);
  transition: transform 0.8s ease;
}

.hidden {
  display: none;
}

.show {
  display: initial;
}

.maxw {
  max-width: 900px;
  margin: 0 auto;
  position: relative;
}

.progress {
  background: linear-gradient(to right, #F9EC31 var(--scroll), transparent 0);
  background-repeat: no-repeat;
  position: fixed;
  width: 100%;
  height: 4px;
  z-index: 1;
}

/** slider **/

.tns-controls [disabled] { 
  color: #999999;
  background: #B3B3B3; 
  cursor: not-allowed !important;
}
.tns-nav {
  text-align: center;
  margin: 10px 0;
}
.tns-nav > [aria-controls] {
  width: 9px;
  height: 9px;
  padding: 0;
  margin: 0 5px;
  border-radius: 50%;
  background: #ddd;
  border: 0;
}
.tns-nav > [aria-selected="true"] { background: #999; }

.breadcrumb-arrow .breadcrumb-item+.breadcrumb-item::before {
  content: none;
}
.breadcrumb-arrow .breadcrumb-item+.breadcrumb-item {
  padding-left: 0;
}

.breadcrumb-arrow {
    min-height: 36px;
    line-height: 36px;
    list-style: none;
    overflow: auto;
    display: block;
    background: none;
    padding: 0;
}

.breadcrumb-arrow li a,
.breadcrumb-arrow li span {
    position: relative;
    color: #fff;
    text-decoration: none;
    background-color: #79a741ff;
    border: 1px solid #79a741ff;
    transition: all 0.3s;

    height: 36px;
    padding: 0 10px 0 25px;
    line-height: 36px;
}

.breadcrumb-arrow li:first-child a,
.breadcrumb-arrow li:first-child span  {
    border-radius: 4px 0 0 4px;
    border-left: 1px solid #79a741ff;
}

.breadcrumb-arrow li:last-child a,
.breadcrumb-arrow li:last-child span {
    border-radius: 0 4px 4px 0;
    border-right: 1px solid #79a741ff;
}


.breadcrumb-arrow li,
.breadcrumb-arrow li a,
.breadcrumb-arrow li span {
    display: inline-block;
    /*vertical-align: top;*/
}

.breadcrumb-arrow li+li:before {
    padding: 0;
    content: "";
}

.breadcrumb-arrow li:first-child a,
.breadcrumb-arrow li:first-child span {
    padding: 0 10px;
}

.breadcrumb-arrow li:not(:last-child) a:after,
.breadcrumb-arrow li:not(:last-child) a:before,
.breadcrumb-arrow li:not(:last-child) span:after,
.breadcrumb-arrow li:not(:last-child) span:before {
    position: absolute;
    top: -1px;
    width: 0;
    height: 0;
    content: '';
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    transition: border 0.3s;
}

.breadcrumb-arrow li:not(:last-child) a:before,
.breadcrumb-arrow li:not(:last-child) span:before {
    right: -10px;
    z-index: 3;
    border-left-color: #79a741ff;
    border-left-style: solid;
    border-left-width: 10px;
}

.breadcrumb-arrow li:not(:last-child) a:after,
.breadcrumb-arrow li:not(:last-child) span:after {
    right: -11px;
    z-index: 2;
    border-left: 11px solid #fff;
}

.breadcrumb-arrow li a:focus,
.breadcrumb-arrow li a:hover {
    background-color: rgb(87, 121, 47);
    border: 1px solid rgb(87, 121, 47);
}

.breadcrumb-arrow li a:focus:before,
.breadcrumb-arrow li a:hover:before {
    border-left-color: #57792f;
}

.breadcrumb-arrow li a:active {
    background-color: rgb(87, 121, 47);
    border: 1px solid rgb(87, 121, 47);
}

.breadcrumb-arrow li a:active:after,
.breadcrumb-arrow li a:active:before {
    border-left-color: rgb(87, 121, 47)
}

.breadcrumb-arrow li.active a,
.breadcrumb-arrow li.active span {
    background-color: #40474e;
    border: 1px solid #40474e;
}

.breadcrumb-arrow li.active a:before,
.breadcrumb-arrow li.active span:before {
    border-left-color: #40474e;
}

.alert {
  border-radius: 0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.11);
  display: table;
  background-image: linear-gradient(to bottom, #fff, #d9edf7);
  padding-left: 61px;
  position: relative;
  border-color: #98cce6;
  color: #3a87ad;
  border-radius: 3px;
}

.alert-white .icon {
  border-radius: 3px 0 0 3px;
  text-align: center;
  width: 45px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #3a8ace;
  padding-top: 15px;
  background: #4d90fd;
}

.alert-white .icon:after {
  transform: rotate(45deg);
  display: block;
  content: '';
  width: 10px;
  height: 10px;
  border: 1px solid #3a8ace;
  position: absolute;
  border-left: 0;
  border-bottom: 0;
  top: 50%;
  right: -6px;
  margin-top: -3px;
  background: #4d90fd;
}

.alert-white .icon i {
  font-size: 20px;
  color: #fff;
  left: 12px;
  margin-top: -10px;
  position: absolute;
  top: 50%;
}

.alert-success {
  color: #3c763d;
  background-image: linear-gradient(to bottom, #fff, #dff0d8);
  border-color: #d6e9c6;
}

.alert-white.alert-success .icon, 
.alert-white.alert-success .icon:after {
  border-color: #54a754;
  background: #79a741ff;
}

.alert-info {
  background-image: linear-gradient(to bottom, #fff, #d9edf7);
  border-color: #98cce6;
  color: #3a87ad;
}

.alert-white.alert-info .icon, 
.alert-white.alert-info .icon:after {
  border-color: #3a8ace;
  background: #4d90fd;
}


.alert-white.alert-warning .icon, 
.alert-white.alert-warning .icon:after {
  border-color: #d68000;
  background: #fc9700;
}

.alert-warning {
  background-image: linear-gradient(to bottom, #fff, #fcf8e3);
  border-color: #f1daab;
  color: #c09853;
}

.alert-danger {
  background-image: linear-gradient(to bottom, #fff, #f2dede);
  border-color: #e0b1b8;
  color: #b94a48;
}

.alert-white.alert-danger .icon, 
.alert-white.alert-danger .icon:after {
  border-color: #ca452e;
  background: #da4932;
}

.imprintblock {
  display: inline-block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.interact-form .alert {
  margin: 24px 0;
  transition: transform .5s;
}

.interact-form input,
.interact-form textarea {
  padding: 24px 27px;
  margin: 0px;
}

.form-special {
  display: none;
}

.interact-form input:hover,
.interact-form input:active,
.interact-form input:focus,
.interact-form textarea:hover,
.interact-form textarea:active,
.interact-form textarea:focus {
  border-color: #79a741ff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #79a74126;
}

.interact-form textarea {
  background: #F6F8FA;
  height: 135px;
  border-radius: 5px;
  width: 100%;
}
.interact-form button[type=submit] {
  background: #79a741ff;
  border: none;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  transition: background .5s;
}
.interact-form button[type=submit]:hover {
  background: rgb(70, 97, 38);
}

.interact-form button[type=submit][disabled] {
  background: rgba(121, 167, 65, 0.37);
}

#customerfooter {
  border: 1px solid #404040;
  padding-top: 10px;
  position: relative;
  top: -10px;
}
@media only screen and (max-width: 767px) {
    #customerfooter {
      border: none;
    }
}

footer {
  width: 100%;
  background-color: #222222;
  border-top: 1px solid #404040;
  color: #dfdfdf;
}
footer .container {
  padding: 100px 0 80px;
}

footer ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

footer h3 {
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

footer .text {
  color: #dfdfdf;
  padding-right: 20px;
  font-size: 13px;
  line-height: 25px;
}
footer .footer-links a:hover {
  color: #79a741;
}

footer .footer-links a {
  color: #b4b4b4;
  transition: color .3s;
  display: block;
  margin-bottom: 10px;
}

footer .footer-legal {
  background-color: #1b1b1b;
  border-top: 1px solid #2c2c2c;
  text-align: center;
  padding: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0px;
  color: #bdbdbd;
}

footer .footer-legal li {
  display: inline-block;
  padding: 0px 20px;
  border-left: 1px solid #999;
}
footer .footer-legal li:first-child {
  border-left: none;
}
footer .footer-legal a {
  display: inline-block;
  color: #bdbdbd;
  padding: 0 0 5px;
  border-bottom: 1px solid transparent;
  transition: all .2s ease-in-out;
}
footer .footer-legal a:hover {
  color: #79a741;
  border-bottom: 1px solid #79a741;
  padding: 0 0 5px;
}

@media only screen and (max-width: 575px) {
  footer .footer-legal li {
    padding: 0;
    display: inherit;
    border-left: none;
  }
  footer ul.footer-legal {
    text-align: initial;
    padding-left: 20px;
    padding-right: 20px;
  }
  footer .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/*		Default Layout: 992px. 
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */
/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #wrapper {
    text-align: center;
  }
  #wrapper .block img {
    padding-top: 100px;
    width: 50%;
  }

  #content {
    text-align: center;
  }
  #content .block {
    padding-bottom: 100px;
  }

  footer .navbar {
    margin-bottom: 0px;
    border: 0px;
    min-height: 40px;
  }
  footer .navbar-default {
    border: 0px;
    width: 68%;
  }
  footer .navbar-default .navbar-nav li a {
    color: #494949;
    padding: 10px 10px;
    font-size: 15px;
  }
  footer .navbar-default .navbar-nav li a:hover {
    color: #000;
  }

  #slider-work .block h1 {
    font-size: 28px;
  }
  #slider-work .block p {
    font-size: 15px;
  }

  #wrapper-contact .block {
    padding-bottom: 50px;
  }
}
/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */
@media only screen and (max-width: 767px) {
  .heading {
    padding-left: 0px;
  }
  h2 {
    font-size: 18px;
  }
  p {
    font-size: 13px;
  }
  header .navbar-default .navbar-toggle {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #slider {
    padding-top: 90px;
    padding-bottom: 100px;
  }
  #slider .block {
    padding-left: 0px;
  }
  #slider .block h1 {
    font-size: 20px;
  }
  #slider .block p {
    font-size: 13px;
  }

  #wrapper {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 100px;
  }
  #wrapper .block img {
    padding-top: 100px;
    padding-left: 0px;
    width: 100%;
  }

  #call-to-action p {
    padding: 0px 0px 40px;
  }
  #call-to-action .btn {
    padding: 10px 20px;
    font-size: 15px;
  }

  #content {
    text-align: center;
    padding-top: 70px;
  }
  #content .block {
    padding-bottom: 100px;
  }
  #content .block h2 {
    padding-top: 0px;
  }
  #content .block-bottom {
    padding: 0px;
  }
  #content .block-bottom .item-img {
    padding-left: 0px;
  }

  footer .footer-manu {
    display: none;
  }
}
